h2 {
  font-size: 1rem;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  margin-bottom: 5px;
}

h3 {
  font-size: 0.875rem;
  color: #ffffff;
  margin: 5px;
}

p {
  font-size: 0.75rem;
}

.currentStep {
  font-size: 0.75rem;
  font-weight: 700;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: large;
  text-align: center;
}

.name {
  color: #292929;
  font-weight: 400;
  font-size: large;
  text-align: left;
}

.price {
  text-align: left;
  font-size: 1.75rem;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #C9684B;
}

label {
  margin-right: 20px;
}

.amount {
  color: #292929;
  font-weight: 400;
  font-size: large;
  padding: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C9684B;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  font-family: runda;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

.center {
  margin: 0 auto;
}

.center--large {
  max-width: 1200px;
  margin: 0 auto;
}

.center--medium {
  max-width: 960px;
  margin: 0 auto;
}

.center--small {
  max-width: 640px;
  margin: 0 auto;
}

.flex-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  width: 200px;
}

.screen__filter {
  background-color: #292929;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.button {
  grid-area: action;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.button--primary {
  background-color: #21627C;
  color: #ffffff;
  border: #ffffff solid 1px;
  padding: 10px 0 10px 0;
  width: 100px;
  font-size: medium;
}

.button--primary:hover {
  background-color: #529FBE;
}

.button--secondary {
  font-size: medium;
  background-color: transparent;
  color: #ffffff;
  border: #ffffff solid 1px;
  padding: 10px 0 10px 0;
  width: 100px;
}

.button--secondary:hover {
  border: #529FBE solid 1px;
  color: #529FBE;
}

.button--secondary-action {
  font-size: medium;
  background-color: transparent;
  color: #21627C;
  border: #21627C solid 1px;
  padding: 10px 0 10px 0;
  width: 100px;
}

.button--secondary-action:hover {
  border: #529FBE solid 1px;
  color: #529FBE;
}

.card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 10px;
}

.detailsScreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.detailsScreen__details {
  background-color: #C9684B;
  border: 10px solid #ffffff;
  width: 700px;
  height: 790px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detailsScreen__buttons {
  margin-left: auto;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.detailsScreen__progress {
  list-style-type: none;
  text-align: center;
  width: 100%;
  position: relative;
}

.detailsScreen__progress li {
  display: inline-block;
  font-size: 20px;
  line-height: 2.5;
}

.detailsScreen__progress li p {
  font-size: 0.875rem;
  padding-right: 20px;
}

.detailsScreen__progress img {
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  padding-right: 5px;
}

.cross {
  width: 10px;
  margin-top: 5px;
}

.cross__img {
  position: absolute;
  top: 10;
  right: 0;
}

.bookingform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: relative;
  height: 660px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bookingform input {
  width: auto;
  border: none;
  padding: 2px 4px 2px 4px;
  color: #292929;
}

.bookingform label {
  display: inline-block;
  width: auto;
  font-size: 0.875rem;
  text-align: left;
  color: #ffffff;
  margin-right: 15px;
}

.hide {
  display: none;
}

.box {
  color: #ffffff;
  padding: 20px;
  display: none;
  margin-top: 20px;
}

.buffet-breakfast {
  background: #21627C;
  border: 1px solid #ffffff;
}

.lunch {
  background: #529FBE;
  border: 1px solid #ffffff;
}

.dinner {
  background: #21627C;
  border: 1px solid #ffffff;
}

.reviewScreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.review {
  background-color: #C9684B;
  border: 10px solid #ffffff;
  width: 700px;
  height: 790px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review__progress {
  list-style-type: none;
  text-align: center;
  width: 100%;
  position: relative;
}

.review__progress li {
  display: inline-block;
  font-size: 20px;
  line-height: 2.5;
}

.review__progress li p {
  font-size: 0.875rem;
  padding-right: 20px;
}

.review__progress img {
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  padding-right: 5px;
}

.details__btns {
  margin-left: auto;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.bookingResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 660px;
}

.icons {
  width: 30px;
}

.bookingScreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.book {
  background-color: #292929;
  border: 10px solid #ffffff;
  width: 700px;
  height: 790px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 15px;
}

.bookingMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 660px;
}

.tickConfirm {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.confirm {
  color: #ffffff;
}

.logoConfirm {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.booked {
  font-size: 0.875rem;
  color: #ffffff;
  margin: 5px;
}

.bookingform .error {
  color: #292929;
}

.error {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#meals-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.content__filter {
  margin-left: 20px;
}

.filterDiv,
.ratingFilter {
  float: left;
  color: #292929;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

/* Style the buttons */
.btn,
.ratingBtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover,
.ratingBtn:hover {
  background-color: #DA937E;
}

.btn.active,
.ratingBtn.active {
  background-color: #C9684B;
  color: white;
}

.sidebar__logo {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.sidebar__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  font-weight: 700;
}

.sidebar__searchform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__searchform__label {
  display: inline-block;
  font-size: 0.875rem;
  text-align: left;
  color: #ffffff;
  width: auto;
}

.sidebar__searchform__select {
  width: 100%;
  border: none;
  padding: 2px 4px 2px 4px;
}

.sidebar__searchform__input {
  width: 100%;
  border: none;
  padding: 5px 4px 5px 4px;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.sidebar__searchform__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  gap: 20px;
}

.content {
  position: relative;
  margin-top: 0;
  height: 100vh;
}

.content__image {
  width: 100%;
  position: relative;
}

.content__results {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accomodationType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#content__results-js {
  background-color: #ffffff;
  height: 100vh;
  overflow: scroll;
}

.hostel__panel, .hotel__panel, .motel__panel, .house__panel {
  background-color: #C9684B;
  border: 1px solid #C9684B;
  padding: 10px;
  font-size: 30px;
  margin: 20px;
  width: 400px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
}

.hostel__panel img, .hotel__panel img, .motel__panel img, .house__panel img {
  width: 25px;
  height: 25px;
}

.icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hostel__card,
.hotel__card,
.motel__card,
.house__card {
  background-color: #ffffff;
  border: 1px solid #C9684B;
  padding: 10px;
  font-size: 30px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 480px;
}

.hostel__card .title,
.hotel__card .title,
.motel__card .title,
.house__card .title {
  text-align: left;
  margin-top: 0;
  padding: 0;
  grid-area: title;
}

.hostel__card .title h1,
.hotel__card .title h1,
.motel__card .title h1,
.house__card .title h1 {
  font-size: 2.5rem;
}

.hostel__card .title p,
.hotel__card .title p,
.motel__card .title p,
.house__card .title p {
  font-size: 1rem;
}

.hostel__card img,
.hotel__card img,
.motel__card img,
.house__card img {
  width: 100%;
  height: 260px;
  grid-area: pic;
}

.accordion {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.active,
.accordion:hover {
  color: #529FBE;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .section1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .section2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.sidebar {
  background-color: #292929;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detailsScreen__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .content__results__accomodations {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  #content__results-js {
    overflow: auto;
    overflow-x: hidden;
  }
  .content__image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .sidebar__searchform {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hostel__card,
  .hotel__card,
  .motel__card,
  .house__card {
    width: 400px;
  }
  .flex-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-col {
    width: 250px;
  }
  .detailsScreen__details {
    width: 95%;
    height: auto;
  }
  #menuOptions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review {
    width: 95%;
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
  }
  .bookingform {
    overflow: scroll;
    overflow-x: hidden;
    height: 500px;
  }
  .details__btns, .book__btns {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .bookingMessage {
    height: 800px;
  }
  .book {
    width: 95%;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hostel__card,
  .hotel__card,
  .motel__card,
  .house__card {
    width: 400px;
  }
  #menuOptions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #content__results-js {
    overflow: auto;
    overflow-x: hidden;
  }
}
/*# sourceMappingURL=main.css.map */