*, *:before, *:after {
  margin: 0;
  padding: 0;
  font-family: runda;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

.center {
  margin: 0 auto;
}

.center--large {
  max-width: 1200px;
  margin: 0 auto;
}

.center--medium {
  max-width: 960px;
  margin: 0 auto;
}

.center--small {
  max-width: 640px;
  margin: 0 auto;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
}

.content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: main;
}

.container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'logo main main main main' 'form main main main main';
}

.container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.logo {
  background-color: #292929;
}

.logo img {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  width: 300px;
  text-align: center;
}

.form {
  background-color: #292929;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.form-info {
  font-size: 0.875rem;
  height: auto;
  margin: 0;
  left: 0;
  right: 0;
  padding: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #C9684B;
}

.form-info h1 {
  font-family: runda;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  text-align: left;
}

.form-info .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.form .form-info-group {
  margin-bottom: 5px;
  margin-top: 5px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .form-info-group label {
  display: inline-block;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form .form-info-group input {
  border: none;
  -webkit-box-flex: 0.1;
      -ms-flex-positive: 0.1;
          flex-grow: 0.1;
  text-align: center;
}

.form .form-info-group .error {
  width: auto;
  color: #292929;
}

.form .form-info-dates {
  margin-bottom: 5px;
  margin-top: 5px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .form-info-dates label {
  display: inline-block;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form .form-info-dates input {
  border: none;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  text-align: center;
}

.form .form-info-dates .error {
  width: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: #ffffff;
  color: #292929;
}

.content {
  padding: 5px;
  font-weight: bold;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.content-results div {
  background-color: transparent;
  border: 1px solid #C9684B;
  width: 98%;
  padding: 10px;
  margin: 1%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.valid {
  background: green;
  color: #fff;
}

.error {
  background: red;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */