h2 {
  font-size: 1rem;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  margin-bottom: 5px;
}

h3 {
  font-size: 0.875rem;
  color: #292929;
  margin: 5px;
}

p {
  font-size: 0.75rem;
}

.currentStep {
  font-size: 0.75rem;
  font-weight: 700;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: large;
  text-align: center;
}

.name {
  color: #292929;
  font-weight: 400;
  font-size: large;
  text-align: left;
}

.price {
  text-align: left;
  font-size: 1.75rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #C9684B;
}

label {
  margin-right: 20px;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  font-family: runda;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

.center {
  margin: 0 auto;
}

.center--large {
  max-width: 1200px;
  margin: 0 auto;
}

.center--medium {
  max-width: 960px;
  margin: 0 auto;
}

.center--small {
  max-width: 640px;
  margin: 0 auto;
}

.flex-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  width: 250px;
}

.button {
  grid-area: action;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.button--primary {
  background-color: #21627C;
  color: #ffffff;
  border: #ffffff solid 1px;
  padding: 10px 0 10px 0;
  width: 100px;
  font-size: medium;
}

.button--primary:hover {
  background-color: #529FBE;
}

.button--secondary {
  font-size: medium;
  background-color: transparent;
  color: #ffffff;
  border: #ffffff solid 1px;
  padding: 10px 0 10px 0;
  width: 100px;
}

.button--secondary:hover {
  border: #529FBE solid 1px;
  color: #529FBE;
}

.button--secondary-action {
  font-size: medium;
  background-color: transparent;
  color: #21627C;
  border: #21627C solid 1px;
  padding: 10px 0 10px 0;
  width: 100px;
}

.button--secondary-action:hover {
  border: #529FBE solid 1px;
  color: #529FBE;
}

.screen {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.screen-darkenBackground {
  background-color: #292929;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.screen-details {
  background-color: #C9684B;
  border: 10px solid #ffffff;
  width: 700px;
  height: 790px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.screen-details-buttons {
  margin-left: auto;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.screen-details-progress {
  list-style-type: none;
  text-align: center;
  width: 100%;
  position: relative;
}

.screen-details-progress li {
  display: inline-block;
  font-size: 20px;
  line-height: 2.5;
}

.screen-details-progress li p {
  font-size: 0.875rem;
  padding-right: 20px;
}

.screen-details-progress img {
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  padding-right: 5px;
}

.cross {
  width: auto;
  margin-top: 5px;
}

.cross-img {
  width: auto;
  height: auto;
  position: absolute;
  top: 10;
  right: 0;
}

.cross .hover {
  display: none;
}

.cross-img:hover .hover {
  display: block;
}

.bookingform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: relative;
  height: 660px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bookingform input {
  width: auto;
  border: none;
  padding: 2px 4px 2px 4px;
  color: #292929;
}

.bookingform label {
  display: inline-block;
  width: auto;
  font-size: 0.875rem;
  text-align: left;
  color: #ffffff;
  margin-right: 15px;
}

.hide {
  display: none;
}

.box {
  color: #fff;
  padding: 20px;
  display: none;
  margin-top: 20px;
}

.buffet-breakfast {
  background: #21627C;
}

.lunch {
  background: #529FBE;
}

.dinner {
  background: #21627C;
}

.reviewScreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.review {
  background-color: #C9684B;
  border: 10px solid #ffffff;
  width: 700px;
  height: 790px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-progress {
  list-style-type: none;
  text-align: center;
  width: 100%;
  position: relative;
}

.review-progress li {
  display: inline-block;
  font-size: 20px;
  line-height: 2.5;
}

.review-progress li p {
  font-size: 0.875rem;
  padding-right: 20px;
}

.review-progress img {
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  padding-right: 5px;
}

.review .details-btns {
  margin-left: auto;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.popUp-black2 {
  background-color: #292929;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.bookingDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.bookingResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 660px;
}

.icons {
  width: 30px;
}

.bookBooking {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.book {
  background-color: #292929;
  border: 10px solid #ffffff;
  width: 700px;
  height: 790px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book-progress {
  list-style-type: none;
  text-align: center;
  width: 100%;
  position: relative;
}

.book-progress li {
  display: inline-block;
  font-size: 20px;
  line-height: 2.5;
}

.book-progress li p {
  font-size: 0.875rem;
  padding-right: 20px;
}

.book-progress img {
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  padding-right: 5px;
}

.book .details-btns {
  margin-left: auto;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.popUp-black3 {
  background-color: #292929;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.bookingDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.bookingMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 660px;
}

.bookingMessage .tick {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.confirm {
  color: #ffffff;
}

.logoConfirm {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.booked {
  font-size: 0.875rem;
  color: #ffffff;
  margin: 5px;
}

.bookingform .error {
  color: #292929;
}

.error {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#meals-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.sidebar-logo {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.sidebar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  font-weight: 700;
}

.sidebar-searchform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-searchform-label {
  display: inline-block;
  font-size: 0.875rem;
  text-align: left;
  color: #ffffff;
  width: auto;
}

.sidebar-searchform-select {
  width: 100%;
  border: none;
  padding: 2px 4px 2px 4px;
}

.sidebar-searchform-input {
  width: 100%;
  border: none;
  padding: 5px 4px 5px 4px;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.sidebar-searchform-buttons {
  margin-left: auto;
}

.content {
  position: relative;
  margin-top: 0;
  height: 100vh;
}

.content-image {
  width: 100%;
  height: auto;
  position: relative;
}

.content-results {
  background-color: #ffffff;
  height: 100vh;
}

.content-results-accomodations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hostel-card,
.hotel-card,
.motel-card,
.house-card {
  background-color: transparent;
  border: 1px solid #C9684B;
  padding: 10px;
  font-size: 30px;
  margin: 20px;
}

.hostel-card .title,
.hotel-card .title,
.motel-card .title,
.house-card .title {
  text-align: left;
  margin-top: 0;
  padding: 0;
  grid-area: title;
}

.hostel-card .title h1,
.hotel-card .title h1,
.motel-card .title h1,
.house-card .title h1 {
  font-size: 2.5rem;
}

.hostel-card .title p,
.hotel-card .title p,
.motel-card .title p,
.house-card .title p {
  font-size: 1rem;
}

.hostel-card img,
.hotel-card img,
.motel-card img,
.house-card img {
  width: 100%;
  grid-area: pic;
}

.card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .section1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .section2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.sidebar {
  background-color: #292929;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hostel-card,
  .hotel-card,
  .motel-card,
  .house-card {
    width: 400px;
  }
  .flex-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popUp {
    width: 400px;
  }
  .popUp .progress {
    list-style-type: none;
    text-align: center;
    display: block;
    width: 350px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hostel-card,
  .hotel-card,
  .motel-card,
  .house-card {
    width: 400px;
  }
}
/*# sourceMappingURL=main.css.map */