.content {
    position: relative;
    margin-top: 0;
    height: 100vh;

    &__image {
        width: 100%;
        height: auto;
        position: relative;
    }

    &__results {
        background-color: $white;
        height: 100vh;
        align-items: center;

        &__accomodations {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

}


.hostel__card,
.hotel__card,
.motel__card,
.house__card {
    background-color: transparent;
    border: 1px solid $orange-dark;
    padding: 10px;
    font-size: 30px;
    margin: 20px;
    // display: flex;
    flex-direction: column;

    & .title {
        text-align: left;
        margin-top: 0;
        padding: 0;
        grid-area: title;

        h1 {
            font-size: $font-xlarge;
        }

        p {
            font-size: $font-medium;
        }
    }

    & img {
        width: 100%;
        grid-area: pic;
    }
}


.accordion {
    transition: 0.1s;
}

.active,
.accordion:hover {
    border: 1px solid $blue-light;
    color: $blue-light;
}

#panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}