.sidebar {
    background-color: $primary;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & .section1 {
        flex: 1;
    }

    & .section2 {
        flex: 2;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

}


.error {

    color: red;
    display: flex;

}

#rooms-error {
    visibility: visible;
}

//mobile
@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .hostel,
    .hotel,
    .motel,
    .house {
        width: 400px;
    }

    .flex-grid-thirds {
        display: flex;
        padding-bottom: 10px;
        justify-content: space-between;
        flex-direction: column;    
    }

    .popUp {
        width: 400px;

        & .progress {
            list-style-type: none;
            text-align: center;
            display: block;
            width: 350px;
        }
    }

}

//desktop
@media only screen and (min-width: 1200px) {
    .container {
        flex-direction: row;
    }

    .hostel,
    .hotel,
    .motel,
    .house {
        width: 400px;
    }

}