.content {
    position: relative;
    margin-top: 0;
    height: 100vh;


    img {
        width: 100%;
        height: auto;
        position: relative;
    }


    &-results {
        background-color: $white;
        height: 100vh;

        .place {
            background-color: transparent;
            border: 1px solid $orange-dark;
            padding: 10px;
            font-size: 30px;
            margin: 20px;
        }
    }

    &-places {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    & .hostel,
    & .hotel,
    & .motel,
    & .house {
        & .title {
            text-align: left;
            margin-top: 0;
            padding: 0;
            grid-area: title;


            h1 {
                font-size: $font-xlarge;
            }

            p {
                font-size: $font-medium;
            }
        }

        .price {
            text-align: left;
            font-size: $font-large;
            margin-top: 20px;
            margin-bottom: 20px;
            color: $orange-dark;
        }

        & img {
            width: 100%;
            grid-area: pic;
        }
    }

}

.action-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    gap: 10px;
}