.logo {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 30px;
    width: 300px;
    text-align: center;
}

.form {
    font-size: $font-small;
    margin: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: $primary;
    border: 1px $white solid;
    display: grid;
    gap: 15px;

    & h1 {
        font-family: $regular;
        font-weight: $regular-weight;
        font-size: $font-medium;
        color: $white;
        text-align: left;
    }

    &-buttons {
        margin-left: auto;
    }

    &-groups {
        margin-bottom: 5px;
        margin-top: 5px;
        display: flex;

        select {
            padding: 0 5px 5px 0;
            text-align: left;
        }
    
        & label {
            display: inline-block;
            text-align: left;
            flex-grow: 1;
            color: $white;
        }
    
        & input {
            border: none;
            flex-grow: 0.1;
            text-align: center;
            padding: 0 5px 5px 0;
        }
    
        & .error {
            width: auto;
            color: $primary;
    
        }
    }

    &-dates {
        margin-bottom: 5px;
        margin-top: 5px;
        width: auto;
        display: flex;
    
        & label {
            display: inline-block;
            text-align: left;
            flex-grow: 1;
            color: $white;
        }
    
        & input {
            border: none;
            flex-grow: 4;
            text-align: center;
            padding: 0 5px 5px 0;
        }
    
        & .error {
            width: 150px;
            align-items: center;
            background-attachment: $white;
            color: $primary;
        }
    
    }
    
}
