.sidebar__logo {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 300px;
}

.sidebar__title {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    flex-direction: row;
    color: $white;
    font-weight: $heavy-weight;
}

.sidebar__searchform {
    display: flex;
    width: 100%;
    position: relative;
    height: auto;
    flex-direction: column;

    &__label {
        display: inline-block;
        font-size: $font-small;
        text-align: left;
        color: $white;
        width: auto;
    }

    &__select {
        width: 100%;
        border: none;
        padding: 2px 4px 2px 4px;
    }

    &__input {
        width: 100%;
        border: none;
        padding: 5px 4px 5px 4px;
        align-items: right;
    }

    &__buttons {
        display: flex;
        padding-bottom: 10px;
        justify-content: flex-end;
        flex-direction: row;
     
    }

}




