.bookBooking {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.book{
    background-color: $primary;
    border: 10px solid $white;
    width: 700px;
    height: 790px;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;


    &-progress {
        list-style-type: none;
        text-align: center;
        width: 100%;
        position: relative;

        & li {
            display: inline-block;
            font-size: 20px;
            line-height: 2.5;

            p {
                font-size: $font-small;
                padding-right: 20px;
            }
        }

        img {
            height: 20px;
            align-items: center;
            vertical-align: middle;
            padding-right: 5px;

        }

    }

    & .details-btns {
        margin-left: auto;
        margin-right: 15px;
        display: flex;
        gap: 10px;
    }

}

.popUp-black3 {
    background-color: $primary;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.bookingDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.bookingMessage {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 660px;

    & .tick {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}

.confirm {
    color: $white;
}

.logoConfirm {
    width: 250px; 
    margin-left: auto;
    margin-right: auto;
}


.booked {
    font-size: $font-small;
    color: $white;
    margin: 5px;
}