
.detailsScreen {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.detailsScreen__details {
    background-color: $orange-dark;
    border: 10px solid $white;
    width: 700px;
    height: 790px;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.detailsScreen__buttons {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    gap: 10px;
}

.detailsScreen__progress {
    list-style-type: none;
    text-align: center;
    width: 100%;
    position: relative;

    & li {
        display: inline-block;
        font-size: 20px;
        line-height: 2.5;

        p {
            font-size: $font-small;
            padding-right: 20px;
        }
    }

    img {
        height: 20px;
        align-items: center;
        vertical-align: middle;
        padding-right: 5px;

    }

}

.cross {
    width: 10px;
    margin-top: 5px;

    &__img {
        position: absolute;
        top: 10;
        right: 0;
    }
}

.bookingform {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    height: 660px;
    flex-direction: column;


    input {
        width: auto;
        border: none;
        padding: 2px 4px 2px 4px;
        color: $primary;
    }

    label {
        display: inline-block;
        width: auto;
        font-size: $font-small;
        text-align: left;
        color: $white;
        margin-right: 15px;
    }
}

.hide {
    display: none;
}

.box {
    color: $white;
    padding: 20px;
    display: none;
    margin-top: 20px;
}

.buffet-breakfast {
    background: $blue-dark;
    border: 1px solid $white;
}

.lunch {
    background: $blue-light;
    border: 1px solid $white;
}
.dinner {
    background: $blue-dark;
    border: 1px solid $white;
}