$regular: runda;
$regular-weight: 400;
$heavy-weight: 700;
$font-xxsmall: 0.625rem;
$font-xsmall: 0.75rem;
$font-small: 0.875rem;
$font-medium: 1rem;
$font-large: 1.75rem;
$font-xlarge: 2.5rem;
$font-xxlarge: 5rem;
