.center {
    margin: 0 auto;
    &--large {
        max-width: 1200px;
        margin: 0 auto;
    }
    &--medium {
        max-width: 960px;
        margin: 0 auto;
    }
    &--small {
        max-width: 640px;
        margin: 0 auto;
    }
}

.flex-layout {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    flex-direction: row;
}

.flex-col {
    width: 200px;
}

.screen__filter {
    background-color: $primary;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}