.popUp {
    background-color: $orange-dark;
    border: 10px solid $white;
    width: 700px;
    height: 790px;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;

    & .progress {
        list-style-type: none;
        text-align: center;
        width: 100%;
        position: relative;

        & li {
            display: inline-block;
            font-size: 20px;
            line-height: 2.5;

            p {
                font-size: $font-small;
                padding-right: 20px;
            }
        }

        img {
            height: 20px;
            align-items: center;
            vertical-align: middle;
            padding-right: 5px;

        }

    }

    & .details-btns {
        margin-left: auto;
        margin-right: 15px;
        display: flex;
        gap: 10px;
    }

}

.cross {
    width: auto;
    margin-top: 5px;

    &-img {
        width: auto;
        height: auto;
        position: absolute;
        top: 10;
        right: 0;
    }

    & .hover {
        display: none;
    }

    &-img:hover .hover {
        display: block;
    }
}


.popUpHostel {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.popUp-black {
    background-color: $primary;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.selectt {
    color: #fff;
    padding: 5px;
    display: none;
    margin-top: 5px;

}

label {
    margin-right: 20px;
}


.hide {
    display: none;
}

.box {
    color: #fff;
    padding: 20px;
    display: none;
    margin-top: 20px;
}

.red {
    background: $blue-dark;
}

.green {
    background: $blue-light;
}

.blue {
    background: $blue-dark;
}

label {
    margin-right: 15px;
}