.popUp {
    background-color: $orange-dark;
    border: 10px solid $white;
    width: 600px;
    height: 700px;
    position: relative;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10%; 

    & .cross {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
        float: right;
        background-color: $white;
        font-size: $font-large;

       &:hover {
           background-color: $blue-light;
       }
    }
}

.popUpHostel {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.popUp-black {
    background-color: $primary;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}