$regular: runda;
$regular-weight: 400;
$heavy-weight: 700;
$font-xxsmall: 0.625rem;
$font-xsmall: 0.75rem;
$font-small: 0.875rem;
$font-medium: 1rem;
$font-large: 1.75rem;
$font-xlarge: 2.5rem;
$font-xxlarge: 5rem;

h2 {
    font-size: $font-medium;
    color: $white;
    border-bottom: 1px solid $white;
    padding: 5px;
    margin-bottom: 5px;
}

h3 {
    font-size: $font-small;
    color: $white;
    margin: 5px;
}


p {
    font-size: $font-xsmall;
}

.currentStep {
    font-size: $font-xsmall;
    font-weight: $heavy-weight;
}

h1 {
    color: $white;
    font-weight: $heavy-weight;
    font-size: large;
    text-align: center;
}

.name {
    color: $primary;
    font-weight: $regular-weight;
    font-size: large;
    text-align: left;
}

.price {
    text-align: left;
    font-size: $font-large;
    margin-top: 10px;
    margin-bottom: 15px;
    color: $orange-dark;
}

label {
    margin-right: 20px;
}

.amount{
    color: $primary;
    font-weight: $regular-weight;
    font-size: large;
    padding: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $off-white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $orange-dark; 
  }